<nav><mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="" routerLinkActivate="active">
      <mat-icon>menu</mat-icon>
    
    </button>
    <span class="example-spacer"></span>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="" routerLinkActivate="active">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
   
     
    
  </mat-toolbar>
  <a routerLink="connexion" routerLinkActivate="active">
    connexion 
  </a>
  <a routerLink="inscription" routerLinkActivate="active">
    inscription 
  </a>
 <a routerLink="panier" routerLinkActivate="active">
    panier 
 </a>
</nav>
