<mat-card appearance="outlined">
    <mat-card-content>cour1:</mat-card-content>
    <mat-card-content>titre:maatlab</mat-card-content>
     <mat-card-content>description:langages de prg</mat-card-content>
     <mat-card-content>prix:300d</mat-card-content>
      <mat-card-content>debutant:</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content>cour1:</mat-card-content>
    <mat-card-content>titre:maatlab</mat-card-content>
     <mat-card-content>description:langages de prg</mat-card-content>
     <mat-card-content>prix:300d</mat-card-content>
      <mat-card-content>debutant:</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content>cour2:</mat-card-content>
    <mat-card-content>titre:angular</mat-card-content>
     <mat-card-content>description:framework de prg</mat-card-content>
     <mat-card-content>prix:500d</mat-card-content>
      <mat-card-content>debutant:</mat-card-content>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-content>cour1:</mat-card-content>
    <mat-card-content>titre:symfony</mat-card-content>
     <mat-card-content>description:framwork php cote serveur</mat-card-content>
     <mat-card-content>prix:300d</mat-card-content>
      <mat-card-content>debutant:</mat-card-content>
  </mat-card>
